@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
*{
  box-sizing: border-box;
}

body {
  font-family: "Varela Round", sans-serif;
  background: darkslategray;
  
  .header {
    text-align: center;
    margin: auto;
    color: orange;
    h1 {
      font-size: 45px;
    }
  }
  div.buttons_container {
    max-width: 800px;
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    border-radius: 5px 5px 0 0;
    background: white;
    border: 1px solid #ddd;
    border-bottom: none;
    margin-top: 10px;
    button.button-custom{
      font-size: 15px;
      color: black;
      font-weight: bold;
      padding: 8px 16px;
      border-radius: 7px;
      background: orange;
      margin: 15px;
      @media screen and (max-width: 500px) {
        width: 28%;
        margin: 10px 5px;
        margin-top: 0;
        font-size: 9px;
        flex-wrap: wrap;
      }
    }
    @media screen and (max-width: 500px) {
      width: 100%;
      flex-wrap: wrap;
    }
    div.prize_pool {
      border-right: 1px solid #ddd;
      line-height: 70px;
      padding-right: 70px;
      @media screen and (max-width: 500px) {
        width: 100%;
        text-align: center;
        flex-wrap: wrap;
        padding: 0;
        border-right: none;
      }
    }
  }
  .kendo-grid-custom {
    margin: auto;
    max-width: 800px;
    height: 500px;
    border-radius: 0 0 5px 5px;
    font-weight: bold;
    font-size: 18px;
    .k-grid-header{
      padding-right: 5px;
    }
    @media screen and (max-width: 500px) {
      width: 100%;
      font-size: 9px;
    }
    .k-grid-content {
      border-radius: 0 0 5px 5px;
      &::-webkit-scrollbar {
        width: 5px;
      }
      &::-webkit-scrollbar-track {
        background: #f1f1f1;
        margin-bottom: 10px;
      }
      &::-webkit-scrollbar-thumb {
        background: #888;
      }
      &::-webkit-scrollbar-thumb:hover {
        background: #555;
      }
    }
    .custom-column{

    }
    .column-rank{
      
    }
    .column-name{
      
    }
    .column-score{

    }
    .column-diff{

    }
    .column-country{

    }
  }
}
