@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
* {
  box-sizing: border-box;
}

body {
  font-family: "Varela Round", sans-serif;
  background: darkslategray;
}
body .header {
  text-align: center;
  margin: auto;
  color: orange;
}
body .header h1 {
  font-size: 45px;
}
body div.buttons_container {
  max-width: 800px;
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  border-radius: 5px 5px 0 0;
  background: white;
  border: 1px solid #ddd;
  border-bottom: none;
  margin-top: 10px;
}
body div.buttons_container button.button-custom {
  font-size: 15px;
  color: black;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 7px;
  background: orange;
  margin: 15px;
}
@media screen and (max-width: 500px) {
  body div.buttons_container button.button-custom {
    width: 28%;
    margin: 10px 5px;
    margin-top: 0;
    font-size: 9px;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 500px) {
  body div.buttons_container {
    width: 100%;
    flex-wrap: wrap;
  }
}
body div.buttons_container div.prize_pool {
  border-right: 1px solid #ddd;
  line-height: 70px;
  padding-right: 70px;
}
@media screen and (max-width: 500px) {
  body div.buttons_container div.prize_pool {
    width: 100%;
    text-align: center;
    flex-wrap: wrap;
    padding: 0;
    border-right: none;
  }
}
body .kendo-grid-custom {
  margin: auto;
  max-width: 800px;
  height: 500px;
  border-radius: 0 0 5px 5px;
  font-weight: bold;
  font-size: 18px;
}
body .kendo-grid-custom .k-grid-header {
  padding-right: 5px;
}
@media screen and (max-width: 500px) {
  body .kendo-grid-custom {
    width: 100%;
    font-size: 9px;
  }
}
body .kendo-grid-custom .k-grid-content {
  border-radius: 0 0 5px 5px;
}
body .kendo-grid-custom .k-grid-content::-webkit-scrollbar {
  width: 5px;
}
body .kendo-grid-custom .k-grid-content::-webkit-scrollbar-track {
  background: #f1f1f1;
  margin-bottom: 10px;
}
body .kendo-grid-custom .k-grid-content::-webkit-scrollbar-thumb {
  background: #888;
}
body .kendo-grid-custom .k-grid-content::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/*# sourceMappingURL=index.css.map */
